
/*

Colores utilizados para el diseño de esta página

  Color principal: #162447
  Color de énfasis: #ffdd67
  Color de texto a principal: WHITE

*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: WHITE;
  margin: 0;
  padding: 0;
}

/* Alineacion y colores */
.align-justify {
  text-align:justify;
}

.color-blue {
  background-color: #162447;
}

.color-white {
  color: WHITE;
}


/* Botón de menu para dispositivos móviles */
.menu-button {
  display: block;
  margin: 1em;
  width: 20px;
}

.menu-button:before {
  box-shadow: 0 6px 0 WHITE;
  margin-bottom: 9px;
}

.menu-button:before, .menu-button:after {
  background-color: WHITE;
  content: '';
  display: block;
  height: 4px;
}

/* Diseño para la barra de menu */

.navbar-logo {
  margin-left: 100%;
  width: 100px;
}

.navbar-spacing {
  margin-right: 10%;
}

.navbar-font {
  color: WHITE;
  font-size: 1.3rem;
}

.navbar-font:hover {
  color: #ffdd67;
  font-size: 1.3rem;
}

/* Banner */
.image {
  width: 100%;
}

.banner {
  align-items: center;
  background-image: url(../resources/bg.jpg);
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 860px;
  justify-content: center;
  margin-bottom: 0.3%;
  width: 100%;
}

.banner:before {
  background-color: BLACK;
  content: "";
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

.banner-titulo {
  color: WHITE;
  font-family: 'EB Garamond', serif;
  font-size: 10rem;
  text-align: center;
  z-index: 1;
}

.banner-subtitulo {
  color: WHITE;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  margin-top: 2%;
  text-align: center;
  z-index: 1;
}


/* Sección de filosofía */
.filosofia-contenedor {
  margin-top: 0.5%;
  position: relative;
}

.filosofia-video-container {
  z-index: -1;
}

.filosofia-contenedor video {
  width: 100%;
}

.filosofia-contenido {
  margin: 0 5%;
  position: absolute;
  top: 10%;
  width: 40%;
}

.filosofia-titulo {
  color: WHITE;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  margin: 5% 50% 2% 0;
}

.filosofia-texto {
  color: white;
  font-size: 1.5rem;
}


/* Áreas de práctica */
.practica {
  background-color: #162447;
  padding: 7% 10%;
  position: relative;
  z-index: 1;
}

.practica-box {
  padding: 3%;
  text-align: center;
}

.practica-img {
  margin-bottom: 10%;
  transition: width 0.5s, height 0.5s, margin 0.5s;
  width: 30%;
}

.practica-img:hover {
  width: 40%;
}

/* Frase */
.frase-contenido {
  margin: 0 5% 0 55%;
  position: absolute;
  top: 10%;
  width: 40%;
}

.frase-texto {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}


.equipo-marco {
  margin: 5%;
}
