/*

Colores utilizados para el diseño de esta página

  Color principal: #162447
  Color de énfasis: #FFDD67
  Color de texto a principal: WHITE

*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #162447;
  margin: 0;
  padding: 0;
}

/* Alineación y colores */
.align-justify {
  text-align: justify;
}

.color-blue {
  background-color: #162447;
}

.color-white {
  color: WHITE;
}

/* Botón de menu para dispositivos móviles */
.menu-button {
  display: block;
  margin: 2em;
  width: 40px;
}

.menu-button:before {
  box-shadow: 0 6px 0 WHITE;
  margin-bottom: 9px;
}

.menu-button:before,
.menu-button:after {
  background-color: WHITE;
  content: '';
  display: block;
  height: 4px;
}

/* Diseño para la barra de menu */
.navbar-logo {
  margin-left: 100%;
  width: 100px;
}

.navbar-spacing {
  margin-right: 10%;
}

.navbar-font {
  color: WHITE;
  font-size: 1.3rem;
}

.navbar-font:hover {
  color: #ffdd67;
  font-size: 1.3rem;
}

/* Banner */
.image {
  width: 100%;
}

.banner {
  align-items: center;
  background-image: url(../resources/bg.jpg);
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 860px;
  justify-content: center;
  width: 100%;
}

.banner:before {
  background-color: BLACK;
  content: "";
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

.banner-titulo {
  color: WHITE;
  font-family: 'EB Garamond', serif;
  font-size: 10rem;
  text-align: center;
  z-index: 1;
}

.banner-subtitulo {
  color: WHITE;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  margin-top: 2%;
  text-align: center;
  z-index: 1;
}

/* Sección de filosofía */
.filosofia-contenedor {
  position: relative;
}

.filosofia-video-container {
  z-index: -1;
}

.filosofia-contenedor video {
  width: 100%;
}

.filosofia-contenido {
  margin: 0 5%;
  position: absolute;
  top: 10%;
  width: 40%;
}

.filosofia-titulo {
  color: WHITE;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  margin: 5% 50% 2% 0;
}

.filosofia-texto {
  color: white;
  font-size: 1.5rem;
}

/* Áreas de práctica */
.practica {
  background-color: #162447;
  padding: 0 10%;
  position: relative;
  z-index: 1;
}

.practica-box {
  padding: 3%;
  text-align: center;
}

.practica-img {
  margin-bottom: 10%;
  transition: width 0.5s, height 0.5s, margin 0.5s;
  width: 30%;
}

.practica-img:hover {
  width: 40%;
}

.button {
  border-radius: 30px;
  font-size: 1rem;
}

/* Frase */
.frase-contenido {
  margin: 0 5% 0 55%;
  position: absolute;
  top: 10%;
  width: 40%;
}

.frase-texto {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.equipo-marco {
  margin: 5%;
}

.pricing-column {
  padding: 3% 2%;
}

.quien-texto {
  font-family: 'Ubuntu';
  text-align: center;
  font-size: 3.5rem;
  margin: 3%;
  color: WHITE;
}

.equipo-foto {
  width: 100%;
  border-radius: 5px;
}

.texto-personal {
  margin: 0 10%;
  text-align: center;
}

.texto-nombre {
  font-size: 1.5rem;
  text-align: center;
  color: purple;
}

.contenedor-contacto {
  background: #162447;
  padding: 5% 10%;
  margin: 10% 20%;
  border-radius: 40px;
}

.form-group {
  color: #ffdd67;
  font-size: 1.5rem;
}

.piePagina {
  width: 100%;
  height: 10%;
  background: #142d4c;
}

.piePagina h4,
h7,
small {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.conocenos {
  color: white;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.piePagina h4 {
  padding: 50px 0 0 0;
}

.img-conocenos {
  width: 50px;
  margin: 1%;
}

.col-more {
  display: none;
}

@media(max-width: 1000px) {

  /* Diseño para la barra de menu */
  .navbar-logo {
    margin-left: 50%;
    width: 200px;
  }

  .navbar-spacing {
    margin-right: 10%;
  }

  .navbar-font {
    color: WHITE;
    font-size: 2.3rem;
  }

  .navbar-space {
    margin: 2% 0 2% 0;
  }

  .navbar-font:hover {
    color: #ffdd67;
    font-size: 2.3rem;
  }

  /* Sección de filosofía */
  .filosofia-contenido {
    margin: 0 1%;
    position: absolute;
    top: 10%;
    width: 90%;
  }

  .filosofia-titulo {
    color: WHITE;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    margin: 5% 50% 2% 2%;
  }

  .filosofia-texto {
    margin-left: 5%;
    color: white;
    font-size: 1.3rem;
    width: 50%;
  }

  .practica-text {
    font-size: 3rem;
    text-align: justify;
    margin-bottom: 10%;
  }

  .practica-title {
    margin-bottom: 10%;
    font-size: 3.5rem;
    text-align: center;
  }

  .practica-img {
    width: 40%;
  }

  .practica-img {
    margin-bottom: 5% 10%;
    transition: width 0.5s, height 0.5s, margin 0.5s;
    width: 40%;
  }

  .practica-img:hover {
    width: 50%;
  }

  .button {
    border-radius: 30px;
    font-size: 4rem;
    ;
    justify-content: center;
    margin: auto;
    text-align: center;
    align-items: center;
  }

  .practica {
    background-color: #162447;
    padding: 7% 10%;
    position: relative;
    z-index: 1;
  }

  .frase-contenido {
    margin: 0 5% 0 55%;
    position: absolute;
    top: 10%;
    width: 40%;
  }

  .frase-texto {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
  }

  .container .card:hover .content h2 {
    margin: 0 0 10px;
    padding: 0;
    color: WHITE;
    font-size: 40px;
  }

  .container .card:hover .content h2 span {
    color: #FFEB3B;
    font-size: 36px;
  }

  .texto-personal {
    font-size: 3rem;
    margin: 0 10%;
    text-align: center;
  }

  .texto-nombre {
    font-size: 4rem;
    text-align: center;
    color: purple;
  }

  .quien-texto {
    font-family: 'Ubuntu';
    text-align: center;
    font-size: 5rem;
    margin: 5%;
    color: WHITE;
  }

  .piePagina h4,
  h7,
  small {
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .piePagina h4 {
    padding: 50px 0 0 0;
    font-size: 4rem;
  }

  .piePagina h7 {
    padding: 50px 0 0 0;
    font-size: 2rem;
  }

  .conocenos {
    color: white;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }


  .img-conocenos {
    width: 100px;
    margin: 5%;
  }

  .contenedor-contacto {
    margin: 40% 20%;
  }

  .form-group {
    color: #ffdd67;
    font-size: 2.5rem;
  }
}